.container {
    background-color: rgb(243, 215, 215);
    font-family: 'Comic Neue', sans-serif;
    margin: auto;
    margin-top: 10%;
    width: 1200px;
    height: 550px;
    outline: 10px solid black;
    border-radius: 5px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details {
    width: 1000px;
    height: 500px;
    text-align: center;
}

#theregion {
    margin-right: 288px;
    text-align: right;
}

#edit {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 360px;
}

#region {
    text-align: right;
    margin-top: 140px;
    margin-left: 260px;
    font-size: 32px;
}

#time {
    position: absolute;
    left: 730px;
    top: 300px;
    font-size: 135px;
}

#day {
    text-align: right;
    margin-top: 140px;
    margin-right: 250px;
    font-size: 35px;
}

.popup {
    visibility: hidden;
    background-color: white;
    position: absolute;
    width: 500px;
    height: 120px;
    border-radius: 5px;
    outline: 3px solid black;
}

.popup #title_timezone{
    position: absolute;
    margin-left: 20px;
    bottom: 60px;
    font-size: 25px;
    font-style: bold;
}

#timezone {
    position: absolute;
    margin-left: 20px;
    height: 40px;
    top: 55px;
    border-radius: 5px;
    padding-left:10px;
    padding-right: 10px;
    width: 300px;
}

#timezone option {
    font-size: 10px;
}

#apply{
    cursor: pointer;
    position: absolute;
    right: 110px;
    bottom: 15px;
    font-size: 25px;
}
